<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <!--<class name="failedscreenshots.ListenerClass"/> -->
      <class name="testcases.TimeTableoftheTrain"/>
      <!-- <class name="testcases.LiveStatusoftheTrain"/>-->
     <!--<class name="base.TestBase"/> --> 
     <!--<class name="testcases.TestStationDetails"/> --> 
    <!-- <class name="testcases.StatusCheck"/>-->  
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
